<launch>
    <arg name="rname" default="go2"/>
    <param name="robot_name" value="$(arg rname)"/>

    <!-- <node pkg="unitree_controller" type="unitree_servo" name="unitree_servo" respawn="true"/> -->
    <!-- 键盘控制节点 -->
    <node pkg="unitree_guide" type="junior_ctrl" name="junior_ctrl" output="screen"/>

</launch>